h1{
    color:#7c73e6;
    font-size: 48px;
    font-family:roboto, cursive;
    text-align:center;
}

h2{
    color:#8c84d9;
    font-size: 25px;
    font-family:garamond;
}

a.menu{
        margin:50px;

}

#menu{
    background-color:#ffe9e3;
    height: 30px;
    font-family:monospace;
}

img{
    width:100%;
    height:auto;
    padding:2px;
}

div.gallery{
    display:grid;
    grid-template-columns:50% 50%;
}

h3{
    font-family:roboto;
    color:#aaa5d5;
}

body{
    font-family:roboto, sans-serif;
    background-color:rgb(255, 255, 255);
}

figcaption{
    font-family:roboto, sans-serif;
    font-size: 13px;
}

#me{
    width:300px;
    height:400px;
}

body{
    background-color:#fafafa;
}

#mission{
    width:248.218527315px;
    height:300px;
}

#sleepy{
    width:300px;
    height:200px;
}